$neon: #2196f3;
*{
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin: 0 auto;
}

.header__title{
    padding: 10px;
    font-size: 30px;
    width: 100%;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #c1f2ff;
    border: 2px dashed black;
}
.form{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
input{
    border: 2px solid black;
}
.input__btn{
    width: 200px;
    font-weight: normal;
    background-color: #ffd973;
}
.btn{
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
}

.body{
    margin-top: 50px;
}
table{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-spacing: 0;
    color: black;
    margin-bottom: 50px;
}
th{
    background-color: #cdcdcd;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
th:hover{
    background-color: rgba($color: #cdcdcd, $alpha: 0.4);
}
tr:nth-child(even){
    background-color: #ededed;
}
tr:nth-child(even):hover{
    background-color: #cdcdcd;
}
tr:hover{
    background-color: rgba($color: #cdcdcd, $alpha: 0.4);
}
td{
    padding: 10px;
    border: 1px solid black;
}

